<!-- FOOTER -->
<div id="f">
  <div class="container">
    <div class="row centered">
      <a href="{{ path('sil16_vitrine_accueil') }}"> Accueil </a>
      <a href="{{ path('sil16_vitrine_mentions') }}"> Mentions Légales </a>
      <a href="{{ path('sil16_vitrine_catalogue') }}"> Catalogue </a>
      <p> Copyright : http://blacktie.co </p>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- Footer -->
