{% extends "sil16VitrineBundle::layout.html.twig" %}

{% block title %} Catalogue {% endblock %}
{% block h1 %} Catalogue {% endblock %}

{% block content %}

	<!-- CATALOGUE SECTION -->
	<div id="dg">
		<div class="container">
      <div class="row centered">
        <br>
      {% for result in results %}

  				<div class="col-lg-3">
  					<div class="tilt">
              <a href="{{ path('sil16_vitrine_articles_par_categorie', { product_category_id: result['product_category'].getId() } )  }}">
                <h2> {{ result['product_category'].name() }} </h2>
                <div class="price">{{ result['active_products_count'] }} article{% if(result['active_products_count'] > 1) %}s {% endif %} </div>
              </a>
            </div>
  				</div>
        {% endfor %}

			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->
  <script>
      window.addEventListener("load", function() {
        var pictures = document.getElementsByClassName('product_picture');
        for (i = 0; i < pictures.length; i++) {
          pictures[i].addEventListener("mouseover", function( event ) {
            var src = this.src;
            var new_src = src.slice(0,src.length - 6) + src.slice(src.length - 4, src.length)
            this.src = new_src;
          });

          pictures[i].addEventListener("mouseout", function( event ) {
            var src = this.src;
            var new_src = src.slice(0,src.length - 4) + "_2" + src.slice(src.length - 4, src.length)
            this.src = new_src;
          });
        }
      }
    );
  </script>
{% endblock %}
