/* ==========================================================================
   Pricing Tables
   ========================================================================== */
.price{
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
}

.glyphicon-shopping-cart {
  color: #9d9d9d;
}

.glyphicon-shopping-cart:hover {
  color: white;
}

th, td {
  text-align: center;
}

#flash {
	position: fixed;
    z-index: 1500;
    top: 80px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#total_amount_label {
  font-weight: bold;
  float: right;
}

.row.content {
  margin-top: 90px;
}
