{% extends "sil16VitrineBundle::layout.html.twig" %}

{% block title %} Validation commande n° {% endblock %}
{% block h1 %} Validation de votre commande : n° {{ commande.id }} {% endblock %}

{% block content %}

  <div id="dg">
    <div class="container">
      <div class="row centered">
        <br>
          {% include 'sil16VitrineBundle:Commande:_order_details.html.twig' with {'commande': commande}  %}
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- DG -->
{% endblock %}
