{% extends "sil16VitrineBundle::layout.html.twig" %}

{% block title %} Catalogue {% endblock %}

{% block content %}

  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">

        <h1> Catalogue </h1>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->


	<!-- CATALOGUE SECTION -->
	<div id="dg">
		<div class="container">
      <div class="row centered">
        <br>
      {% for lamp in lamps %}

  				<div class="col-lg-3">
  					<div class="tilt">
  					     <a href="#"><img src="{{ asset('bundles/sil16vitrine/pictures/lampes/'~ lamp.picture()) }}" alt="kanur" width=300></a>
                 <h2> {{ lamp.name() }} </h2>
                 <div class="price">{{ lamp.price_to_s() }} </div>
  					</div>
  				</div>
        {% endfor %}

			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->

{% endblock %}
