{% extends "sil16VitrineBundle::layout.html.twig" %}

{% block title %} Accueil {% endblock %}

{% block content %}

  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h1> Cher {{ name }}! </h1>
          <p> Bienvenue sur mon site e-commerce ! </p>
          {{ dump(order) }}
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->

{% endblock %}
