{% extends "sil16VitrineBundle::layout.html.twig" %}

{% block title %} Accueil {% endblock %}
{% block h1 %} Bonjour {{ name }}! {% endblock %}

{% block content %}

<div id="dg">
  <div class="container">
    <div class="row centered">
      <p> Bienvenue sur mon site de e-commerce ! </p>
    </div>
  </div>
</div>

{% endblock %}
