{% extends "sil16VitrineBundle::layout.html.twig" %}

{% block title %} Mentions légales {% endblock %}
{% block h1 %} Mentions légales {% endblock %}

{% block content %}
<div id="dg">
  <div class="container">
    <div class="row centered">
      <p> Plaplapla </p>
    </div>
  </div>
</div>
{% endblock %}
