{% extends "sil16AdminBundle::layout.html.twig" %}

{% block title %} Edition produit {% endblock %}
{% block h1 %} Edition : </br> '{{ product.name }}' {% endblock %}

{% block content %}

<div id="dg">
  <div class="container">
    <div class="row centered">
      {% include 'sil16AdminBundle:Product:_form.html.twig' with {'form': edit_form, 'submit_label': 'Editer'}  %}
    </div>
  </div>
</div>
{% endblock %}
